@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color: #fdf0e3;
    justify-content: center;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 0;
}
main{
    background-color: #f2f2f2;
}

/*-------------------
header section start 
--------------------*/

.page-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    font-size: 35px;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #161616;
}

/*-------------------
header section end 
--------------------*/

/*-------------------
banner section start 
--------------------*/

.banner-section{
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}
.banner-title{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}
.banner-description{
    color: #939292;
    font-size: 16px;
    margin-bottom: 30px;
}
.btn-primary{
    border: none;
    border-radius: 5px;
    background-color: #ff8f2d;
    color: white;
    padding: 18px 25px;
    font-size: 18px;
}
.thumbnail img{
    width: 100%;
}

/*-------------------
banner section end 
--------------------*/

/*----------------------
feature section start 
----------------------*/
.feature{
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    gap: 30px;
    align-items: center;
}
.feature-pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.feature-pic img{
    width: 300px;
    height: 300px;
}
.feature-details{
    width: 50%;
    margin-left: 50px;
}
.feature-title{
    font-size: 35px;
    font-weight: 100;
    color: grey;
}
.feature-title-first{
    color: #161616;
    font-weight: 700;
}
.feature-title-second{
    color: orange;
    font-weight: 900;
}
/*----------------------
feature section end 
----------------------*/

/*---------------------
item section start 
---------------------*/
.feature-item{
    display: flex;
    gap: 60px;
}
.item{
    width: 90%;
}
.item .title{
    border-left: 5px solid orange;
    height: 90px;
    font-size: 40px;
}
.item-box{
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 80%;
}
.item-box .title{
    font-size: 20px;
    margin-bottom: 10px;
}
.architect img{
    width: 680px;
}
.btn-secondary{
    border: none;
    border-radius: 5px;
    background-color: #ff9500;
    width: 35%;
    height: 15%;
    padding: 0px 30px;
    color: white;
    text-align: center;
    margin: -60px;
}
.experience-year{
    font-size: 40px;
}
.experience{
    font-size: 25px;
}
/*------------------
item section end 
-------------------*/

/*Responsive style */

/*-----------------
Mobile responsive 
-----------------*/
@media only screen and (max-width: 668px) {
    .page-title,nav ul,.feature,.feature-item{
        flex-direction: column;
        text-align: center;
    }
    .banner-title, .item .title{
        font-size: 35px;
    }
    .feature-pic{
        grid-template-columns: repeat(1, 1fr);
    }
    .item,.item-box,.architect img{
        width: 100%;
        padding: 5px 0;
    }
    .btn-secondary{
        width: 60%;
        height: 24%;
    }
}

/*-----------------
Tablet responsive 
-----------------*/
@media only screen and (min-width: 669px) and (max-width: 992px) {
    .banner-title{
        font-size: 35px;
    }
    .page-title,.feature,.feature-item{
        flex-direction: column;
        text-align: center;
    }
    .item,.item-box{
        margin: 10px auto;
    }
}